.home-wrapper {
  background-color: #040F0F;

  &.lighten {
    background-color: #0E1919;
  }

  .content-wrapper {
    width: 90%;
    margin: 0 auto;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    margin: 0 0 12px;
  }

  .greeting-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 788px;

    .greeting-info {
      width: 56.5%;

      p {
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        margin: 0 0 48px;
      }

      .greeting-links {
        display: flex;

        a.about-me-link  {
          margin-left: 16px;
        }
      }
    }

    .greeting-image {
      width: 39%;
      height: 428px;
      background: url("/assets/images/home-greeting-image.png") center no-repeat;
      background-size: contain;
    }
  }

  .what-i-can-do-block {
    padding-top: 76px;
    padding-bottom: 52px;

    h2 {
      margin-bottom: 48px;
    }
  }

  .projects-block {
    padding-top: 76px;
    padding-bottom: 76px;

    h2 {
      margin-bottom: 48px;
    }

    .primary-button {
      margin: 0 auto;
    }
  }
}
