<header>
  <app-navigation></app-navigation>
</header>

<div class="home-wrapper">
  <div class="content-wrapper">
    <div class="greeting-block">
      <div class="greeting-info">
        <h2>Hi, I’m Ed ✋</h2>
        <p>
          A Senior Product Designer with over 7 years of experience. I transform complex challenges into
          simple, innovative digital experiences that meet both user needs and business goals. Let's
          collaborate to turn your vision into reality!
        </p>
        <div class="greeting-links">
          <a routerLink="/contacts" class="primary-button">
            Get in touch
          </a>
          <a routerLink="/about-me" class="alt-button about-me-link">
            About me
          </a>
        </div>
      </div>

      <div class="greeting-image"></div>

    </div>
  </div>
</div>

<div class="home-wrapper lighten">
  <div class="content-wrapper">
    <div class="what-i-can-do-block">
      <h2>What I can do for you</h2>

      <app-simple-cards [cards]="cards"></app-simple-cards>
    </div>
  </div>
</div>

<div class="home-wrapper">
  <div class="content-wrapper">
    <div class="projects-block">
      <h2>Projects</h2>

      <app-project-cards [projects]="projects"></app-project-cards>

      <a routerLink="/projects">
        <button class="primary-button">View all projects</button>
      </a>
    </div>
  </div>
</div>

<div class="home-wrapper lighten">
  <div class="content-wrapper">
    <app-review-slider
      title="What people say about me"
    ></app-review-slider>
  </div>
</div>

<div class="home-wrapper">
  <app-footer-navigation></app-footer-navigation>
</div>
