<div class="footer-navigation">
  <h2>Let’s talk about your project!</h2>
  <h4>edik.kvak&#64;gmail.com</h4>
  <div class="navigation">
    <a href="https://www.linkedin.com/in/eduard-kvak" target="_blank">
      <img src="assets/images/linkedin.svg" alt="Linkedin">
    </a>
    <a href="https://wa.me/4915733698452" target="_blank">
      <img src="assets/images/whatsapp.svg" alt="WhatsApp">
    </a>
    <a href="https://t.me/Stilln3ss" target="_blank">
      <img src="assets/images/telegram.svg" alt="Telegram">
    </a>
  </div>
</div>
