.footer-navigation {
  padding-top: 76px;
  padding-bottom: 76px;

  h2 {
    text-align: center;
    margin: 0 0 24px;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
  }

  h4 {
    text-align: center;
    margin: 0 0 24px;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #D57A66;
  }

  .navigation {
    display: flex;
    justify-content: center;

    a {
      margin-right: 48px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
