.interface {
  text-align: center;
  height: 726px;
  border-radius: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  h4 {
    padding: 48px;
    margin: 0;
    color: #D57A66;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
  }
}
