<header>
  <app-navigation></app-navigation>
</header>

<div class="projects-wrapper">
  <div class="content-wrapper">
    <div class="projects-block">
      <h2>Projects</h2>
      <app-project-cards [projects]="projects"></app-project-cards>
    </div>
  </div>
</div>

<div class="projects-wrapper">
  <div class="content-wrapper">
    <div class="presentation-view-block">
      <div>
        <h3>Prefer a presentation view?</h3>
        <span>Explore the projects in a visual, presentation-style PDF for quick review.</span>
      </div>

      <button class="primary-button" (click)="openPDF()">Download PDF</button>
    </div>
  </div>
</div>

<div class="projects-wrapper lighten">
  <app-footer-navigation></app-footer-navigation>
</div>

