<div class="password-check-wrapper flex-row centered-full">
  <div class="password-check-container">
    <header class="flex-row space-between">
      <h3>Password required</h3>
      <img (click)="closeModal()" src="assets/images/close-icon.svg" />
    </header>

    <span class="subtitle">Please enter the password to review the project.</span>

    <div class="flex-row space-between">
      <div class="input-wrapper">
        <input [class.isInvalid]="error" type="password" placeholder="Enter the password" [(ngModel)]="inputValue" (input)="typeEvent()">
        <span *ngIf="error" class="error">Wrong password</span>
      </div>

      <button class="primary-button" (click)="submitPassword()">Confirm</button>
    </div>

    <hr />

    <footer class="flex-row space-between">
      <img src="assets/images/info-icon.svg" />

      <span>Need access? <a routerLink="/contacts">Contact me</a> for the password and more details about the case studies!</span>
    </footer>
  </div>
</div>
