<header>
  <app-navigation></app-navigation>
</header>

<div class="contacts-wrapper">
  <h2>Contacts</h2>

  <p>
    Getting in touch is easy. I'm always interested in hearing new project ideas and discussing potential
    job opportunities or collaboration requests you may have. Contact me in the way that works best for you, and let’s meet up!
  </p>

  <div class="contacts-info">
    <div class="email-block">
      <span class="label">
        Drop me an email:
      </span>

      <span class="email">
        <img src="assets/images/email.svg" alt="email">
        <span>edik.kvak&#64;gmail.com</span>
      </span>
    </div>

    <div class="navigation">
      <a class="alt-button" href="https://www.linkedin.com/in/eduard-kvak" target="_blank"><img src="assets/images/linkedin.svg" alt="Linkedin">Linkedin</a>
      <a class="alt-button" href="https://wa.me/4915733698452" target="_blank"><img src="assets/images/whatsapp.svg" alt="WhatsApp">WhatsApp</a>
      <a class="alt-button" href="https://t.me/Stilln3ss" target="_blank"><img src="assets/images/telegram.svg" alt="Telegram">Telegram</a>
    </div>
  </div>

</div>

