@font-face {
  font-family: 'Outfit';
  src: url('../src/assets/fonts/Outfit/Outfit-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #040F0F;
  color: #DBD1C5;
  font-family: 'Outfit';
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.centered-hor {
  justify-content: center;
}

.centered-vert {
  align-items: center;
}

.centered-full {
  align-items: center;
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

a {
  text-decoration: none;

  &:hover {
    border-radius: 0;
  }
}

button {
  font-family: 'Outfit';

  &:hover {
    border-radius: 0;
  }
}

.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.primary-button {
  height: 56px;
  display: flex;
  align-items: center;
  background-color: #D57A66;
  color: #040F0F;
  padding: 16px 32px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.alt-button {
  height: 56px;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #DBD1C5;
  padding: 16px 32px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 12px;
  border: 2px solid #D57A66;
  cursor: pointer;
}

.transparent-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  color: #D57A66;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  cursor: pointer;

  span {
    position: relative;
  }

  & span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #D57A66;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out, transform-origin 0s 0.3s;
  }

  &:hover span::after {
    transform: scaleX(1);
    transform-origin: right;
  }

  &:not(:hover) span::after {
    transform: scaleX(0);
    transform-origin: left;
  }

  img {
    margin-right: 8px;
  }
}

.underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px; /* Position underline directly under the text */
  left: 0;
  background-color: #D57A66;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out, transform-origin 0s 0.3s;
}

.underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: right;
}

.underline-animation:not(:hover)::after {
  transform: scaleX(0);
  transform-origin: left;
}

.project-wrapper {
  color: #DBD1C5;

  &.lighten {
    background-color: #0E1919;
  }

  .content-wrapper {
    width: 90%;
    margin: 0 auto;

    header {
      display: flex;
      align-items: center;
      height: 72px;
    }

    .main-info {
      margin-top: 76px;
      margin-bottom: 76px;

      .project-description {
        width: 62%;

        h4 {
          font-size: 20px;
          font-weight: 700;
          line-height: 32px;
          color: #D57A66;
          margin: 0 0 12px;
        }

        h2 {
          font-size: 40px;
          font-weight: 700;
          line-height: 60px;
          margin: 0 0 12px;
        }
      }

      .industries-and-project-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 48px;

        .industries {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          .industry {
            border-radius: 8px;
            padding: 4px 12px;
            font-size: 20px;
            line-height: 32px;
            border: 1px solid #F7EDE2;
            font-weight: 400;
            margin-right: 12px;
          }
        }

        .project-links {
          display: flex;
          flex-wrap: wrap;

          a {
            display: flex;
            align-items: center;
            color: #D57A66;
            font-size: 20px;
            font-weight: 700;
            line-height: 32px;
            margin-right: 48px;

            span {
              position: relative;
            }

            & span::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 2px;
              bottom: -2px;
              left: 0;
              background-color: #D57A66;
              transform: scaleX(0);
              transform-origin: right;
              transition: transform 0.3s ease-in-out, transform-origin 0s 0.3s;
            }

            &:hover span::after {
              transform: scaleX(1);
              transform-origin: right;
            }

            &:not(:hover) span::after {
              transform: scaleX(0);
              transform-origin: left;
            }

            img {
              margin-right: 8px;
            }
          }
        }
      }
    }

    h5 {
      width: 62%;
      font-size: 40px;
      font-weight: 700;
      line-height: 60px;
      margin: 0 0 12px;

      &+.subtitle {
        width: 62%;
      }
    }

    h6 {
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      margin-bottom: 16px;
      margin-top: 48px;
    }

    p {
      font-size: 20px;
      font-weight: 400;
      line-height: 32px;
      margin-top: 0;

      &.first-article {
        margin: 0 0 32px;
      }
    }
  }

  .full-width-wrapper {
    background-color: #0E1919;
    margin-bottom: 76px;

    &.with-vert-padding {
      padding-top: 76px;
      padding-bottom: 76px;
    }

    img {
      display: block;
      width: 90%;
      margin: 0 auto;

      &.full-width-img {
        width: 100%;
      }
    }
  }

  .overview {
    padding: 76px 0;

    h5 {
      margin-bottom: 48px;
    }

    .parts-wrapper {
      display: flex;
      justify-content: space-between;

      .left-part {
        width: 28%;

        .info-block {

          .item {
            margin-bottom: 24px;

            &:last-child {
              margin-bottom: 0;
            }

            p {
              display: flex;
              align-items: center;
              color: #D57A66;
              margin: 0 0 8px;
              font-size: 20px;
              font-weight: 700;
              line-height: 32px;

              img {
                margin-right: 8px;
              }

              span {
                font-size: 20px;
                font-weight: 500;
                line-height: 32px;
              }
            }

            span {
              font-size: 20px;
              font-weight: 700;
              line-height: 32px;
            }
          }
        }
      }

      .right-part {
        width: 68%;
      }
    }
  }

  .one-column-block {

    .block-item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        font-size: 20px;
        display: inline-block;
        margin-left: 16px;
        line-height: 32px;
      }
    }
  }

  .mobile-app, .wep-app {
    padding: 76px 0;

    .subtitle {
      margin-bottom: 48px;
    }
  }

  .result {
    padding: 76px 0;

    h5 {
      font-size: 40px;
      font-weight: 700;
      line-height: 60px;
      margin: 0 0 48px;
    }

    h2 {
      font-size: 40px;
      font-weight: 700;
      line-height: 60px;
    }

    .statistic {
      display: flex;
      border: 1px solid #D57A66;
      padding: 48px;
      border-radius: 24px;
      margin-bottom: 48px;

      .statistic-item {
        width: 25%;
        border-right: 1px solid #DBD1C5;
        padding: 0 24px;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
          border-right: none;
        }

        h4 {
          font-size: 24px;
          font-weight: 700;
          line-height: 36px;
          margin: 0 0 8px;
          color: #D57A66;
        }

        h2 {
          margin: 0;
        }
      }
    }

    .challenges-and-results {
      display: flex;
      justify-content: space-between;

      .challenges, .results {
        width: 48%;
      }
    }
  }

  .working-process {
    margin-top: 48px;
    margin-bottom: 96px;

    p {
      margin-bottom: 48px;
    }

    .working-process-wrapper {
      display: flex;
      justify-content: space-between;

      .working-process-list {
        width: calc(100% - 505px);

        .text {
          display: inline-block;
          font-size: 20px;
          line-height: 32px;

          &:not(:last-child).text-bottom-margin {
            margin-bottom: 32px;
          }

          &:first-child {
            margin-top: 16px;
          }
        }
      }

      .working-process-image {
        width: 505px;
        height: 528px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}

.halfed {
  width: 48%;
}

video {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
}

.toggle-container {
  display: inline-block;
  margin: 0 auto 48px;
  border: 2px solid #D57A66;
  padding: 2px;
  border-radius: 12px;

  button {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;

    &.active {
      background-color: #D57A66;
    }

    &:hover {
      border-radius: 8px;
    }
  }
}

.phone-block {
  border: 8px solid #0E1919;
  border-radius: 16px;
  width: 254px;
  height: 546px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.tablet-block {
  border: 8px solid #0E1919;
  border-radius: 16px;
  width: 386px;
  height: 546px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.desktop-block {
  border: 8px solid #0E1919;
  border-radius: 16px;
  width: 762px;
  height: 546px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.desktop-block-with-two-screens {
  display: flex;
  position: relative;
  overflow: hidden;

  .first-screen, .second-screen {
    border: 8px solid #0E1919;
    border-radius: 16px;
    width: 762px;
    min-width: 762px;
    height: 546px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .first-screen {
    margin-right: 48px;
  }
}

