.clarity-1st-screen {
  height: 788px;
  background-image: url("/assets/images/clarity-1st-screen.png");
}

.clarity-2nd-screen {
  height: 788px;
  background-image: url("/assets/images/clarity-2nd-screen.png");
}

.working-process-image {
  background-image: url("/assets/images/clarity-working-scheme.png");
}

.qa-platform {
  padding: 76px 0;

  .subtitle {
    margin-bottom: 48px;
  }

  .participate-threads {
    margin: 48px 0;
  }

  .read-and-publish-articles {
    margin: 48px 0;
  }

  .watch-videos {
    margin-top: 48px;
  }
}

.ebook-reader {
  padding: 76px 0;

  .subtitle {
    margin-bottom: 48px;
  }

  .find-information {
    margin: 48px 0;
  }
}

